body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.app {
  height: 100%;
  width: 100%;
}

.square,
.pieceSquare {
  height: 28px;
  width: 28px;
  border: black 1px solid;
  padding: 0;
  margin: 0;
  background-color: grey;
}

.board {
  height: 300px;
  width: 300px;
  margin: 20px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pieceDisplay {
  height: 100px;
  width: 100px;
  background-color: indianred;
}
